.login-header h1 {
    text-align: center;
    font-size: 315%;
    margin-top: 13px;
    margin-bottom: 0;
    font-family: 'Santis';
}

.login-header h2 {
    font-size: 140%;
    text-align: center;
    border-bottom: 1px solid #c6c6c6;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 17px;
}

.login-checkout-button button {
    display: block;
    text-align: center;
    background: #000;
    width: 37%;
    margin: 35px auto 55px;
    padding: 7px;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
}

.login-checkout-button button:hover {
    background: #ccc;
}

.login-img-container {
    padding-top: 21px;
}

.verisign {
    float: right;
}

.login-privacy-terms {
    margin-bottom: 22px;
}

section.login-body {
    position: relative;
}
