.as-menu {
    padding: 13px 0 0px 0;
}

.as-menu ul {
    text-align: left;
}

.as-menu ul li {
    display: inline-block;
}

.as-menu ul li a {
    padding: 6px 24px;
    font-size: 135%;
}

.as-main-title {
    margin-bottom: 23px;
}

.as-main-title h1 {
    text-align: center;
    font-weight: 700;
    font-size: 230%;
    margin-bottom: 0;
}

.as-main-title p {
    text-align: center;
    font-weight: 700;
}

.as-content-box {
    margin-top: 30px;
}

.as-product-text {
    margin-bottom: 25px;
    margin-top: 10px;
}

.as-product-text p {
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

.as-product-content {
    border: 1px solid #f3f3f3;
}

.as-col-content {
    padding: 0;
}

.as-product-box {
    padding: 20px;
    position: relative;
}

.as-product-hover {
    background-color: #d7d7d7;
    padding: 7px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 13px);
    display: none;
    text-align: center;
}

.as-product-hover P {
    font-weight: 700;
}

.as-product-box:hover .as-product-hover {
    display: block;
}

.as-product-hover button {
    background: transparent;
    border: 0;
    text-decoration: underline;
}

.as-checkout-button {
    margin-bottom: 10px;
}

.as-checkout-button {
    text-align: center;
    padding: 11px 0;
    clear: both;
    max-width: 206px;
    margin: auto;
}

.as-checkout-button button {
    font-size: 115%;
    font-weight: 600;
    letter-spacing: -2px;
    color: #fff;
    background-color: #333333;
    padding: 7px 20px;
    text-decoration: none;
}

.as-checkout-two {
    text-align: center;
    padding: 11px 0;
    clear: both;
    max-width: 206px;
    margin: auto;
}

.as-checkout-two a {
    font-size: 135%;
    font-weight: 600;
    letter-spacing: -2px;
    color: #fff;
    background-color: #d9b267;
    padding: 7px 45px;
    text-decoration: none;
}

.as-product-image {
    margin-bottom: 20px;
    height: 140px;
}

.as-product-image img {
    margin: 0 auto;
    display: block;
    max-height: 140px;
}

.as-navigation {
    text-align: center;
}

.as-modal-size {
    max-width: 80% !important;
    width: 100% !important;
    margin: 0 auto;
}

.as-modal-footer-second {
    clear: both;
}

.as-modal-body-second {
    background-color: #fff;
}

.as-modal-content {
    background-color: #ffffff;
    margin-top: 50px;
    
}

.as-modal-box {
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.apdp-product-title h2 {
    font-size: 215%;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.apd-title-sub-text span {
    margin-right: 10px;
    font-size: 118%;
}

.apd-title-sub-text p {
    font-size: 118%;
}

.apdp-add-button button {
    background: #333333;
    color: #fff;
    text-align: center;
    border: none;
    font-size: 170%;
    text-decoration: none;
    margin-bottom: 30px;
    cursor: pointer!important;
    padding: 5px 27px;
    font-weight: 700;
    float: right;
}

.apdp-color-section {
    padding: 20px 0 20px;
}

.apdp-color-section p img {
    width: calc(25% - 3.75px);
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.apdp-color-section p img + img {
    margin-left: 5px !important;
}

.apdp-color-section span {
    font-weight: 700;
    margin-right: 20px;
    font-size: 115%;
}

.apdp-color-section img {
    background-color: #000;
    padding: 3px 10px;
    margin: 2px;
}

.apdp-color-section p {
    text-align: center;
}

.apdp-dimension-section {
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
}

.apdp-dimension-section span {
    font-weight: 700;
    margin-right: 20px;
    font-size: 115%;
}

.apdp-mini-dimension {
    display: inline-block;
}

.apdp-mini-dimension span {
    font-size: 90%;
}

.apdp-info-text {
    margin-bottom: 30px;
    clear: both;
    font-size: 120%;
    text-align: justify;
}

.apdp-favo-button {
    text-align: left;
    clear: both;
    margin-bottom: 25px;
}

.apdp-favo-button a {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 80%;
    font-weight: 500;
}

.apdp-corousel-inner img {
    margin: 0 auto;
    display: block;
}

.apd-corousel {
    margin-bottom: 25px;
    border: 1px solid #f0f0f0;
}

.apd-carousel-container {
    padding: 10px;
}

.apd-carousel-title {
    padding: 15px;
}

.apd-carousel-title h3 {
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 100%;
    font-weight: 700;
}

.apd-bag-item img {
    border: 1px solid #f0f0f0;
}

.apd-inside-box p {
    padding-bottom: 20px;
    text-align: left;
    font-weight: 700;
    cursor: default;
}

.apd-bag-item span {
    display: block;
    padding-bottom: 20px;
    text-align: left;
    cursor: default;
}

.apd-carousel-add {
    text-decoration: underline;
}

.apd-flexi-arrow {
    top: 37% !important;
}

.pyb-img-container {
    float: left;
    margin-top: 30px;
}

.pyb-selected-purse-copy {
    float: left;
    padding: 30px;
}

.as-selected-product {
    border: 1px solid #f3f3f3;
    padding: 30px;
}

.selected-product-container {
    border: 1px solid #cccccc;
    padding: 30px;
}

.selected-product-container img {
    margin: 0 auto 20px;
    display: block;
    max-height: 345px;
}

.selected-product-container .as-button {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 160px;
    color: #ffffff;
    background-color: #333333;
    font-size: 120%;
    font-weight: bolder;
}

.as-button {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 5px;
    color: #333333;
    border: 1px solid #333333;
    font-size: 100%;
    width: 113px;
    font-weight: bolder;
    transition-duration: 0.2s;
}
.as-button:hover, a:hover .as-button{
    color: #fff;
    background-color: #333;
}

p.as-name {
    font-size: 289%;
    letter-spacing: -2px;
    text-align: center;
}

.pyb-products a, .pyb-products a:hover{
    text-decoration: none;
}

.as-line {
    border-bottom: 1px solid #000;
    width: 120px;
    margin: 0 auto 20px;
}

p.as-select-purse {
    text-align: center;
    font-size: 140%;
}

.as-button-view {
    margin: 20px auto;
}

.as-clear {
    display: block;
    clear: both;
}

.as-banner-hidden-up{
    display: none;
}

.as-banner-hidden-down{
    display: block;
}